
.btn1{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  transition: all 0.3s ease 0s;
  border-radius: 40px;
 
background-image: linear-gradient(to bottom right, red, yellow);
} 

.btn2{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to bottom right, pink, blue);

} 

.btn3{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to bottom right, rgb(196, 19, 48), rgb(147, 147, 199));

} 

.btn4{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to bottom right, rgb(146, 186, 204), rgb(223, 16, 137));

} 

.btn5{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to bottom right, rgb(17, 10, 117), rgb(29, 197, 118));


} 

.btn6{
    width:13%;
    letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(205, 200, 223, 0.75);
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to bottom right, rgb(214, 28, 183), rgb(29, 197, 118));

} 
body{
    padding:30px;
}
.btn{
    margin-top: 5px;
}
.btn-arrow-right, .btn-arrow-left{
    position:relative;
    padding-left: 18px;
    padding-right: 18px;
} 

.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}